        <!-- Home -->
        <div data-role="page" id="page1">
            <div id="page-header" data-theme="a" data-role="header">
                <h3 id="heading">
                    Laurel Tree Computing LLC
                </h3>
            </div>
            <div data-role="content">
                <a href="#page1">
                    <div style="display: inline text-align:center">
                        <%= image_tag "Color Laurel Tree.svg", :id=> "logo", 
							:width => "288px", :height=> "100px"  %>
                    </div>
                </a>
                <div id="nav-bar" data-role="navbar" data-iconpos="top">
                    <ul>
                        <li>
                            <a href="#page1" data-theme="" data-icon="" class="ui-btn-active ui-state-persist">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#page1" data-theme="" data-icon="" class="ui-btn-active ui-state-persist">
                                About
                            </a>
                        </li>
                        <li>
                            <a href="#page1" data-theme="" data-icon="" class="ui-btn-active ui-state-persist">
                                Services
                            </a>
                        </li>
                        <li>
                            <a href="#page1" data-theme="" data-icon="" class="ui-btn-active ui-state-persist">
                                Support
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="page-footer" data-theme="a" data-role="footer" data-position="fixed">
                <h3 id="foot-heading">
                    © All Rights Reserved. 2012  Laurel Tree Computing LLC
                </h3>
            </div>
        </div>
        <script>
            //App custom javascript
        </script>
